@import '../styles/variable';
@import '../styles/mixin';

$prefix: #{$ui}-overlay;

.#{$prefix} {
  background-color: $overlay-bg;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $zindex-overlay;

  // 透明遮罩
  &.transparent {
    background-color: transparent;
  }
}
