@import '../styles/index.scss';

.wall {
  height: $cell-input-height;

  background-color: map-get($colorful, lighter);

  font-size: $font-size-sm;
  line-height: 1.15rem;

  @include padding-left-right($width-base);
}