@import '../styles/index.scss';

.page {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  height: 100%;
}

.wrapper {
  position: relative;

  overflow: hidden;

  padding: 0.15rem .3rem;
  &.wrapper-md {
    padding: 0.15rem .6rem;
  }
  &.wrapper-lg {
    width: calc(100% - 1.8rem);

    padding: 0.15rem .9rem;
  }
}

.page-tips {
  display: block;

  padding: 0.625rem;

  text-align: center;

  color: #666;

  font-size: 0.875rem;
}

.mask-transparent {
  position: fixed;
  z-index: $zindex-mask;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mask {
  background: rgba(0, 0, 0, .6);

  @extend .mask-transparent;
}

