@import '../styles/index.scss';

.cards {
  position: relative;

  overflow: hidden;

  background-color: #fff;

  margin-bottom: .2rem;
  font-size: $font-size-base;
  width: 100%;
}

.card-header {
  position: relative;
  @include padding-left-right($width-base);
  height: $cell-input-height;
  line-height: $cell-input-height;
  &:after {
    @include border-bottom(map-get($colorful, light));
  }
}

.card-body {
  padding: $width-base;
  display: flex;
  .flex-left {
    flex: 2;
  }
  .flex-right {
    flex: 1;
  }
}

.card-footer {
  position: relative;
  @include padding-left-right($width-base);
  height: $cell-input-height;
  line-height: $cell-input-height;
  background-color: #fafafa;
}