@import '../styles/variable';

.#{$ui}-btn {
  position: relative;
  display: block;
  font-family: inherit;
 
  width: 100%;
  height: $btn-height;
  margin: 0 auto;
  padding: $btn-padding;
  outline: 0;

  text-align: center;
  text-decoration: none;

  color: $btn-color;
  border: 0;
  border-radius: $btn-radius;
  background-color: $btn-bg;

  font-size: $btn-font-size;
  line-height: $btn-height;

  border: $btn-border;

  -webkit-appearance: none;

  transition: all .25s ease-in-out;

  &[disabled] {
    color: $btn-disabled-color;
    background-color: $btn-disabled-bg;
  }

  &:not([disabled]):active {
    background-color: $btn-active-bg;
    color: $btn-active-color;
  }

  + .#{$ui}-btn {
    margin-top: 16px;
  }

  // 线框按钮
  &.#{$ui}-btn-outline {
    background-color: transparent;
    
    &:active {
      background-color: transparent;
    }

    &[disabled] {
      color: $btn-disabled-color;
      background-color: transparent;
      border-color: $btn-disabled-color;
    }
  }

  &.#{$ui}-btn-sm {
    display: inline-block;
    font-size: $btn-sm-font-size;
    height: $btn-sm-height;
    line-height: $btn-sm-height;
    width: auto;
  }

  // 圆角按钮
  &.#{$ui}-btn-round {
    border-radius: $btn-round-radius;
  }
}

@each $color in map-keys($colorful) {
  .#{$ui}-btn-#{$color} {
    color: #fff;
    border-color: map-get($colorful, $color);
    background-color: map-get($colorful, $color);

    &[disabled] {
      color: #fff;
      background-color: rgba(map-get($colorful, $color), .3);
    }

    &:not([disabled]):active {
      color: hsla(0,0%,100%,.6);
      background-color: darken(map-get($colorful, $color), 5%);
    }
  }

  // 多色线框
  .#{$ui}-btn-#{$color}.#{$ui}-btn-outline {
    border-color: map-get($colorful, $color);
    color: map-get($colorful, $color);

    &:not([disabled]):active {
      color: rgba(map-get($colorful, $color), .6);
      background-color: transparent;
      border-color: rgba(map-get($colorful, $color), .6);
    }
  }
}
