@import 'variable';
@import 'mixin';
@import 'normalize.css';

*, *:before, *:after {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:focus {
  outline: none;
}

html, body {
  margin: 0;
}

html {
  font-size: 50PX;
}

body {
  user-select: none;
  font-size: 32px;
  background-color: #f8f8f8;
  color: $color-black;
  font-family: $font-family-base;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}
