$ui: 'mui';

/* Color 颜色
   ========================================================================== */
$color-black: #030303 !default;   
$color-border: #c8c7cc !default;

$color-brand: #ff5046 !default;

$colorful: (
  primary: $color-brand,
  cyan: #32c1d4,
  orange: #ffbe23,
  blue:#6dbfe2,
  green: #1aad19
) !default;

/* Font 字体
   ========================================================================== */
$font-family-base: -apple-system, "SF UI Text", Roboto, Noto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
$font-family-code: Consolas, Menlo, Courier, monospace;


/* Wrapper
   ========================================================================== */
$wrapper: (
  lg: 30px,
  md: 16px,
  sm: 10px
) !default;


/* Button
   ========================================================================== */
$btn-bg: transparent !default;
$btn-color: #000 !default;
$btn-padding: 0 30px !default;
$btn-height: 84px !default;
$btn-font-size: 36px !default;
$btn-radius: 10px !default;
$btn-border: 1PX solid rgba(0, 0, 0, .2) !default;

$btn-active-bg: #dedede !default;
$btn-active-color: rgba(0,0,0,.6) !default;

$btn-disabled-bg: #f7f7f7 !default;
$btn-disabled-color: rgba(0, 0, 0, .3) !default;

$btn-sm-height: 60px !default;
$btn-sm-font-size: 26px !default;

$btn-round-radius: 100px !default;


/* List 列表
   ========================================================================== */
$list-header-padding: 30px 30px 18px !default;
$list-header-color: #6d6d72 !default;
$list-header-font-size: 26px !default;

$list-bg: #fff !default;
$list-item-min-height: 88px !default;
$list-item-h-gap: 30px !default;
$list-item-font-size: 34px !default;

$list-value-color: #8f8f8f !default;

$list-arrow-size: 28px !default;
$list-arrow-margin-left: 16px !default;

$list-thumb-size: 58px !default;

$list-subtitle-font-size: 24px !default;
$list-subtitle-color: #8f8f8f !default;

$list-multiline-padding: 25px 30px 25px 0 !default;


/* Input 表单输入
   ========================================================================== */

$input-label-width: 34px !default; // 单个字符宽度
$input-label-h-gap: 10px !default;

$input-label-width-map : (
  2: 2 * $input-label-width,
  3: 3 * $input-label-width,
  4: 4 * $input-label-width,
  5: 5 * $input-label-width,
  6: 6 * $input-label-width,
  7: 7 * $input-label-width
) !default;

$input-font-size: 34px !default;
$input-height: 50px !default;
$input-disabled-color: #bbb !default;

$input-clear-size: 28px !default;
$input-suffix-font-size: 30px !default;
