@import '../styles/variable';
@import '../styles/mixin';

$prefix: #{$ui}-checkbox;

.#{$prefix} {
  &:active {
    background-color: $list-item-active-bg;
  }

  // 原生 input
  input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

    &:checked + .#{$prefix}-icon {
      background-image: url('../styles/icon/checked.svg');
    }

    &[disabled] + .#{$prefix}-icon {
      background-image: url('../styles/icon/unchecked-d.svg');
    }
    &:checked[disabled] + .#{$prefix}-icon {
      background-image: url('../styles/icon/checked-d.svg');
    }
  }

  .#{$prefix}-icon {
    display: block;
    background-image: url('../styles/icon/unchecked.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 48px 48px;
    width: 48px;
    height: 48px;
  }
}
