@import '../styles/variable';
@import '../styles/mixin';

$prefix: #{$ui}-input;

.#{$prefix} {
  padding-right: $list-item-h-gap;

  // 标签
  .#{$prefix}-label {
    margin-right: $input-label-h-gap;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
  }

  // 底部 hairline
  &:not(:last-child):after {
    @include retina-border($color-border, bottom);
    left: $list-item-h-gap;
  }

  // 动态标签宽度
  @each $width in map-keys($input-label-width-map) {
    .#{$prefix}-label-#{$width} {
      width: map-get($input-label-width-map, $width);
    }
  }

  // 文本框容器
  .#{$prefix}-container {
    display: flex;
    flex: 1;
    align-items: center;
  }

  // 文本框
  input {
    border: 0;
    width: 100%;
    padding: 0;
    background-color: transparent;
    -webkit-appearance: none;
    font-size: $input-font-size;
    height: $input-height;
    line-height: $input-height;

    &[disabled] {
      color: $input-disabled-color;
      background-color: #fff;
    }
  }

  // 清除按钮
  .#{$prefix}-clear {
    width: $input-clear-size;
    height: $input-clear-size;
    background: url('../styles/icon/clear.svg') no-repeat center center;
  }

  // 后缀
  .#{$prefix}-suffix {
    color: $list-value-color;
    font-size: $input-suffix-font-size;
  }

}
// 禁用
.#{$prefix}-disabled {

  .#{$prefix}-label {
    color: $input-disabled-color;
  }
}