@import '../styles/variable';
@import '../styles/mixin';

$prefix: #{$ui}-list;

// 列表标题 section header
.#{$prefix}-header {
  box-sizing: border-box;
  padding: $list-header-padding;
  color: $list-header-color;
  width: 100%;
  font-size: $list-header-font-size;
}

// 列表内容 grouped cells
.#{$prefix}-body {
  position: relative;
  background: $list-bg;

  &:before {
    @include retina-border($color-border, top);
  }

  &:after {
    @include retina-border($color-border, bottom);
  }

  // last cell 无底部 hairline, 使用 list-body 的 hairline
  > .#{$prefix}-cell:last-child .#{$prefix}-cell-content:after {
    display: none;
  }

  // a 标签同上， 用于 router <Link>
  > a:last-child .#{$prefix}-cell-content:after {
    display: none;
  }
}

// 列表行 cell
.#{$prefix}-cell {
  position: relative;
  display: flex;
  align-items: center;
  font-size: $list-item-font-size;
  min-height: $list-item-min-height;
  padding-left: $list-item-h-gap;
  flex: 1;

  // 带箭头 cell
  &.#{$prefix}-cell-access {
    text-decoration: none;
    color: inherit;

    &:active {
      background-color: $list-item-active-bg;
    }
  }

  &.#{$prefix}-cell-disabled {
    &:active {
      background-color: inherit;
    }

    .#{$prefix}-cell-content {
      color: $input-disabled-color;
    }
  }

  // cell 内容
  .#{$prefix}-cell-content {
    display: flex;
    align-items: center;
    flex: 1;
    min-height: $list-item-min-height;
    padding-right: $list-item-h-gap;
    position: relative;
    overflow: hidden;
    align-self: stretch;

    &:after {
      @include retina-border($color-border, bottom);
    }
  }

  // 箭头
  .#{$prefix}-cell-arrow {
    width: $list-arrow-size;
    height: $list-arrow-size;
    background: url('../styles/icon/arrow.svg') no-repeat center center;
    margin-left: $list-arrow-margin-left;

    // 箭头上
    .#{$prefix}-arrow-up {
      transform: rotate(-90deg);
    }

    // 箭头下
    .#{$prefix}-arrow-down {
      transform: rotate(90deg);
    }
  }

  // cell 带图标
  .#{$prefix}-cell-thumb {
    margin-right: $list-item-h-gap;

    // 限定图片显示尺寸
    img {
      width: $list-thumb-size;
      height: $list-thumb-size;
      vertical-align: middle;
    }
  }

  // 多行文字 cell
  .#{$prefix}-cell-multiline {
    padding: $list-multiline-padding;
  }

  // cell 左侧
  .#{$prefix}-cell-head {
    flex: 1;
    @include ellipsis();

    // cell 左侧副标题
    .#{$prefix}-cell-subtitle {
      color: $list-subtitle-color;
      font-size: $list-subtitle-font-size;
      margin-top: 12px;
      line-height: 1.5;
      @include ellipsis();
    }
  }

  // cell 右侧 value
  .#{$prefix}-cell-value {
    text-align: right;
    color: $list-value-color;
    @include ellipsis();
  }
}
