@import '../styles/variable';
@import '../styles/mixin';


.list-header {
  box-sizing: border-box;
  padding: $list-header-padding;
  color: $list-header-color;
  width: 100%;
  font-size: $list-header-font-size;
}

.list-body {
  position: relative;
  background: $list-bg;

  &:before {
    @include retina-border($color-border, top);
  }

  &:after {
    @include retina-border($color-border, bottom);
  }
}

.list-item {
  position: relative;
  display: flex;
  align-items: center;
  font-size: $list-item-font-size;
  min-height: $list-item-min-height;
  padding-left: $list-item-h-gap;
  flex: 1;
}

.list-item-access {
  text-decoration: none;
  color: inherit;

  &:active {
    background-color: #ececec;
  }
}

.list-item-content {
  display: flex;
  align-items: center;
  flex: 1;
  min-height: $list-item-min-height;
  padding-right: $list-item-h-gap;
  position: relative;
  overflow: hidden;
  align-self: stretch;

  &:after {
    @include retina-border($color-border, bottom);
  }
}

.list-body > .list-item:last-child .list-item-content:after {
  display: none;
}

.list-body > a:last-child .list-item-content:after {
  display: none;
}

.list-item-arrow {
  width: $list-arrow-size;
  height: $list-arrow-size;
  background: url('../styles/icon/arrow.svg') no-repeat center center;
  margin-left: $list-arrow-margin-left;

  &.list-arrow-up {
    transform: rotate(-90deg);
  }

  &.list-arrow-down {
    transform: rotate(90deg);
  }
}

.list-item-thumb {
  margin-right: $list-item-h-gap;

  img {
    width: $list-thumb-size;
    height: $list-thumb-size;
    vertical-align: middle;
  }
}

.list-item-head {
  flex: 1;
  @include ellipsis();
}

// 多行内容
.list-item-multiline {
  padding: $list-multiline-padding;
}

.list-item-subtitle {
  color: $list-subtitle-color;
  font-size: $list-subtitle-font-size;
  margin-top: 12px;
  line-height: 1.5;
  @include ellipsis();
}

.list-item-value {
  text-align: right;
  color: $list-value-color;
  @include ellipsis();
}
