@import '../styles/index.scss';

.cells-title {
  margin-top: 1rem;
  margin-bottom: .5rem;
  padding: 0 $cell-padding-x;

  color: $color-text-lighter;

  font-size: $cells-tips-font-size;
  .iconfont {
    vertical-align: middle;
    &.icon-xs {
      font-size: $cell-icon-xs-size;
    }
    &.icon-md {
      font-size: $cell-icon-md-size;
    }
  }
}

.cells {
  position: relative;

  width: 100%;

  background-color: $cells-bg;

  // &:before {
  //   @include border-top($cells-border-color);
  // }

  &:after {
    @include border-bottom($cells-border-color);
  }

  &.cells-thumb {
    &:after {
      @include border-bottom($cells-border-color);
    }
  }
  &.cells-thumb .cells-cell {
    @include padding-left-right($width-base);
  }
  &.cells-thumb .cells-cell:before {
    left: $cell-padding-x;
  }

  &.cells-thumb .cells-cell-xs:before {
    left: $cell-padding-x;
  }

  &.cells-thumb .no-cell-deviation:before {
    left: $cell-padding-x;
  }

  // a {color: inherit;}

  &.cells-thumb {
    margin-bottom: .2rem;
  }
  
}

.cells-cell {
  position: relative;

  display: flex;

  min-height: $cell-height;
  padding: 0 $cell-padding-x;

  font-size: $font-size-base;

  align-items: center;

  &.cell-vcode {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  &.cell-select {
    padding: 0;

    .cell-hd {padding-left: $cell-padding-x}

    &:after {
      position: absolute;
      top: 50%;
      right: $cell-padding-x;

      margin-top: -3px;

      content: " ";

      @include arrow(right, 6px, 1px, #c8c8cd);
    }

    &.cell-select-single {
      padding-left: $cell-padding-x;
    }
  }
  
  // 箭头
  &.cell-access .cell-ft:after {
    position: absolute;
    right: 2px;

    display: inline-block;

    margin-top: -3px;

    content: " ";

    @include arrow(right, .1rem, 1px, #c8c8cd);
  }

  // 输入框
  &.cell-input, &.cell-radio, &.cell-text {
    min-height: $cell-input-height;
    .cell-bd {
      height: $cell-input-height;
      line-height: $cell-input-height/2;
    }
  }
  &.cell-radio, &.cell-text {
    .cell-bd {
      line-height: $cell-input-height;
    }
  }
  
  &:before {
    @include border-top($cells-border-color);

    // left: $cell-padding-x;
  }

  &:first-child:before {
    display: none;
  }

  .cell-hd {
    padding-right: $cell-padding-x;

    vertical-align: middle;
    label {
      width: $cell-label-width;
      margin-right: $cell-padding-x;

      color: $color-text-gray;

      @include text-wrap();
    }

    .icon {
      width: .48rem;
      height: .48rem;

      vertical-align: middle;
    }
  }


  .cell-bd {
    flex: 1;
  
  }

  .cell-ft {
    text-align: right;
    // pointer-events: none;
    .cell-right-txt {
      padding-right: .2rem;
    }
    .icon-md {
      font-size: $cell-icon-md-size;
    }
  }
}

.cells-tips {
  display: flex;

  min-height: $cell-input-height;

  color: $color-text-lighter;

  font-size: $cells-tips-font-size;

  align-items: center;
  justify-content: center;
  .icon {
    width: .4rem;
    height: .4rem;
    padding-right: .1rem;
  }
}

.input-cells {
  &:before {
    border-top: 0;
  }
  .cells-cell {
    padding: 0 0 0 1rem;
    &:before {
      border-top: 0;
    }
  }
}

// time-line
.time-line {
  &.cells:after {
    left: 1rem;
  }
  .cells-cell {
    &:before {
      left: 1rem;
    }
    &:after {
      position: absolute;
      top: .79rem;
      left: .49rem;

      height: calc(100% - .3rem);

      content: "";
      transform: scaleX(0.5);

      border-left: 1px solid $color-line-light;
    }
    &:last-child:after {
      border-left: 0;
    }
  }
  .cell-hd {
    z-index: 101;

    display: flex;

    min-width: 1rem;
    padding-right: 0;

    text-align: center;

    justify-content: center;
    align-items: center;
    .icon {
      width: .35rem;
      height: .35rem;
    }
  }
  .circle {
    display: inline-block;

    width: .3rem;
    height: .3rem;

    border-radius: 50%;
    &.circle-primary {
      background: map-get($colorful, primary);
    }
    &.circle-gray {
      background: map-get($colorful, gray);
    }
  }
}